<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script type="text/javascript">
      var map;
      var polygons=[];
      var infoWindow;
      var marker;
      var Centre = {lat: 47.970648, lng: -1.448672};

      function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
          center: Centre,
          zoom: 14,
          streetViewControl: false
        });

        infoWindow = new google.maps.InfoWindow();

        marker = new google.maps.Marker({
          position: Centre,
          map: map,
          title: 'Eta Louis Giboire'
        });



    var cityCircle = new google.maps.Circle({
        strokeColor: '#FF0000',
        strokeOpacity: 0.7,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.03,
        map: map,
        center: Centre,
        radius: 20 * 1000,
        clickable:
        false
    });







        marker.addListener('click', function(e){
            var contentString = '<b>ETA Louis Giboire</b>';

            infoWindow.setContent(contentString);
            infoWindow.open(map, marker);

        });

        map.addListener('click', function(e){
            infoWindow.close();
        });

         jsInterface.askToLoadChamp();


      }
      
      function addChamp(id,adresse,culture,surface,coords){
      	var polygon = new google.maps.Polygon ({
      	paths: toJavascriptArray(coords),
      	 id : id,
      	 adresse : adresse,
      	 culture : culture,
      	 surface : surface,
        });
        polygon.setMap(map);
      }

      /** Transforme les coordonnés java vers Javascript array **/
      function toJavascriptArray(coords) {
          var path = [];
          var coordsParse = JSON.parse(coords);

       coordsParse.forEach(function(point){
        var split = point.toString().split(",");
        path.push(new google.maps.LatLng(split[0], split[1]));

    });

    return path;
}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV9i0KaacFIFrAQBAEnFELQs_jq-7EFII&callback=initMap"
    async defer></script>
  </body>
</html>