<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

    </style>
</head>
<body>
<div id="map"></div>
<script type="text/javascript">
      var map;
      var polygons=[];
      var infoWindow;
      var marker;
      var Centre = {lat: 47.970648, lng: -1.448672};
      var selectionDeuxiemeLong;
	  var selectionDeuxiemeLat;
      var appuiLong;
      var nbSelect = 0;
      var idPremier;
      var idDeuxieme;
      var selectionPremierLat;
      var selectionPremierLong;
      var route;
	  var start;
	  var end;



      function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
          center: Centre,
          zoom: 14,
          streetViewControl: false
        });

        infoWindow = new google.maps.InfoWindow();

        marker = new google.maps.Marker({
          position: Centre,
          map: map,
          title: 'Eta Louis Giboire'
        });


	//	map.data.loadGeoJson("http://87.90.79.202/Files/test.geojson", { idPropertyName : 'NUM_ILOT'});
      map.data.addGeoJson(JSON.parse(jsInterface.getGeoJson()), { idPropertyName : 'NUM_ILOT'});

      map.data.addListener('mousedown', function(event){
    		start = new Date().getTime(); // Temp de debut d'appui
    	});
      map.data.addListener('mouseup', function(event){
    		end = new Date().getTime(); // Temp de fin d'appui
    		appuiLong = (end - start < 500) ? false : true;
    	});


      map.data.addListener('click', function(event) {
    		// Recuperation des informations sur les champs a afficher
    		var num = event.feature.getProperty("NUM_ILOT");
    		var type = event.feature.getProperty("culture");
    		var proprio = event.feature.getProperty("proprio");
    		var etat = event.feature.getProperty("etat");
    		var surface = event.feature.getProperty("surface");


            if(appuiLong){
                if(nbSelect < 1){ //Quand il n'y a pas encore de champ selectionné
                    // Déselection si une selection simple existe.
                    if(idPremier != undefined){
                        map.data.getFeatureById(idPremier).setProperty('isColorful',false);
                        idPremier = undefined;
                    }
                    idPremier = event.feature.getId(); // Enregistrement de l'identifiant du premier champ
    				event.feature.setProperty('isColorful',true);

                    // Enregistrement des coordonnées du premier champ
                    selectionPremierLat = event.latLng.lat();
                    selectionPremierLong = event.latLng.lng();

                    nbSelect ++;
                }else{ // Deuxieme champ de la selection

                    //Dans le cas d'un changement de champ de destination, réinitialiser l'ancienne si elle existe
                    if(idDeuxieme != undefined){
                        map.data.getFeatureById(idDeuxieme).setProperty('isColorful',false);
                        idDeuxieme = undefined;
                    }
                    if(route != undefined){//Dans le cas d'un changement de champ de destination, enlever la ligne de distance si elle existe
                        route.setMap(null);
                    }
                    idDeuxieme = event.feature.getId();// Enregistrement de l'identifiant du deuxieme champ
                    event.feature.setProperty('isColorful',true);// Coloration du champ, par le style dynamique

                    // Enregistrement des coordonnées du premier champ
                    selectionDeuxiemeLat = event.latLng.lat();
                    selectionDeuxiemeLong = event.latLng.lng();

                    // Création des points, de départ et d'arrivée utilisés pour la distance
                    var origin = new google.maps.LatLng(selectionPremierLat,selectionPremierLong);
                    var destination = new google.maps.LatLng(selectionDeuxiemeLat,selectionDeuxiemeLong);

					if(infoWindow != undefined){infoWindow.close();}
                  //Afichage de la ligne, pour la distance a vol d'oiseau
                        var routeCoordonnee = [origin,destination];
                        route = new google.maps.Polyline({
                            path: routeCoordonnee,
                            geodesic: true,
                            strokeColor: '#1E88E5',
                            strokeOpacity: 1.0,
                            strokeWeight: 2
                        });
                        route.setMap(map);

                        // Affiche une fenetre avec les informations sur la distance, au millieu de la ligne
                        infoWindow = new google.maps.InfoWindow({
                            content: "Distance a vol d'oiseau : "+parseInt(getDistanceFromLatLonInKm(selectionPremierLat, selectionPremierLong, selectionDeuxiemeLat, selectionDeuxiemeLong))+" kilomètres",
                            position: {lat: (selectionPremierLat + selectionDeuxiemeLat) / 2, lng: (selectionPremierLong + selectionDeuxiemeLong) / 2}
                        });
                        infoWindow.open(map);
                        google.maps.event.addListener(infoWindow,'closeclick',function(){
                            reset();
                        });

                }
                nbSelect++;
            }else{
                // Dans le cas d'un appui simple, affichage des informations concernant le champ
                nbSelect = 0;
                // Si une fenetre existe la fermer pour laisser place a la nouvelle
                if(infoWindow != undefined){
                    infoWindow.close();
                }
                // Si une ligne de distance etait affiché sur la carte, l'enlever
                if(route != undefined){
                    route.setMap(null);
                }
                // Décoloration des selections si elle existent
                if(idPremier != undefined){
                    map.data.getFeatureById(idPremier).setProperty('isColorful',false);
                    idPremier = undefined;
                }
                if(idDeuxieme != undefined){
                    map.data.getFeatureById(idDeuxieme).setProperty('isColorful',false);
                    idDeuxieme = undefined;
                }
                // Place dans la variable de premiere selection, le champ selectionné
                idPremier = event.feature.getId();
                // Colore le champ selectionné
                event.feature.setProperty('isColorful',true);

                 infoWindow = new google.maps.InfoWindow({
	                                    content: "",
                                    position: new google.maps.LatLng(jsInterface.getMiddleChampX(num), jsInterface.getMiddleChampY(num))
	             });
                infoWindow.setContent('Champ numero : ' + num + '</br></br>' +
                                          'Type de cultures : ' + type + '</br></br>' +
	                                          'Proprietaire : ' + proprio + '</br></br>' +
	                                          'Etat : ' + etat + '</br></br>' +
	                                          'Surface : ' + surface + '</br>');
	                            infoWindow.open(map, this);



            }


        });

		map.data.setStyle(function(feature) {
    		var color = '#427791';
    		if (feature.getProperty('isColorful') && appuiLong) {
    			color = '#09E448';
    		}else if (feature.getProperty('isColorful') && !appuiLong) {
    			color = '#09E448';
    		}
    		return /** @type {google.maps.Data.StyleOptions} */({
    			fillColor: color,
    			strokeColor: color,
    			strokeWeight: 2
    		});
    	});



    var cityCircle = new google.maps.Circle({
        strokeColor: '#FF0000',
        strokeOpacity: 0.7,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.03,
        map: map,
        center: Centre,
        radius: 20 * 1000,
        clickable:
        false
    });







        marker.addListener('click', function(e){
            var contentString = '<b>ETA Louis Giboire</b>';

            infoWindow.setContent(contentString);
            infoWindow.open(map, marker);

        });

        map.addListener('click', function(e){
			nbSelect=0;
            if(infoWindow != undefined){
    			infoWindow.close();
    		}
    		if(route){
    			route.setMap(null);
    		}
    		if(idPremier != undefined){
    			map.data.getFeatureById(idPremier).setProperty('isColorful',false);
    			idPremier = undefined;
    		}
    		if(idDeuxieme != undefined){
    			map.data.getFeatureById(idDeuxieme).setProperty('isColorful',false);
    			idDeuxieme = undefined;
    		}
    		map.data.revertStyle();
        });

      function addChamp(id,adresse,culture,surface,coords){
      	var polygon = new google.maps.Polygon ({
      	paths: toJavascriptArray(coords),
      	 id : id,
      	 adresse : adresse,
      	 culture : culture,
      	 surface : surface,
        });
        polygon.setMap(map);
      }

      /** Transforme les coordonnés java vers Javascript array **/
      function toJavascriptArray(coords) {
          var path = [];
          var coordsParse = JSON.parse(coords);

       coordsParse.forEach(function(point){
        var split = point.toString().split(",");
        path.push(new google.maps.LatLng(split[0], split[1]));

		});

		return path;
		}
	}
	function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
    		var R = 6371; // Rayon de la terre en km
    		var dLat = degToRad(lat2-lat1);  // Difference entre les deux latitudes en radiant
    		var dLon = degToRad(lon2-lon1);  // Difference entre les deux longitudes en radiant
    		var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
    			Math.cos(degToRad(lat1)) * Math.cos(degToRad(lat2)) *
    			Math.sin(dLon/2) * Math.sin(dLon/2);
    		var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
    		var d = R * c; // Distance en km
    		return d;
    	}
		function degToRad(deg) {
    		return deg * (Math.PI/180)
    	}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV9i0KaacFIFrAQBAEnFELQs_jq-7EFII&callback=initMap"
        async defer></script>
</body>
</html>